<h2>商品一覧</h2>
<table class="table table-inverse">
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<th><%= product.id %></th>
				<th><%= link_to product.name, admins_product_path(product) %></th>
				<th><%= product.price %></th>
				<th><%= product.genre.name %></th>
				<th><% if product.sales_status == true %>
					販売中
					<% else %>
					販売停止中
					<% end %>
				</th>
			</tr>
		<% end %>
	</tbody>
</table>